/*ALTA*/

.seccion-alta {
    margin-top: 160px;
    padding: 40px;
    text-align: center;
}


.formulario {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border: 2px solid #003366;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    box-sizing: border-box;
}

.titulo-formulario {
    text-shadow: 2px 2px 5px gray;
    margin-bottom: 20px;
}

.etiqueta {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.campo-texto {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}



.contenedor-botones {
    margin-top: 20px;
}

.boton {
    padding: 10px 20px;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0,5s;
}

.boton:hover {
    background-color: #749470;
}

.boton-cancelar {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}