/*noticias*/

.seccion-noticias {
    margin-top: 160px;
    padding: 40px;
}

.titulo-noticias {
    text-align: center;
    margin-bottom: 30px;
    animation-name: aparecer;
    animation-duration: 2s;
}


.anuncio {
    background-color: #ffcc00;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 10px gray;
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.noticia {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #749470;
    box-shadow: 3px 3px 8px gray;

    
}




.contenedor-volver {
    text-align: center;
    margin-top: 30px;
}

.boton-volver {
    padding: 10px 20px;
    background-color: #749470;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.boton-volver:hover {
    background-color: #365d3a;
    color: white;
}


@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes parpadeo {
    0% {
        background-color: #ffcc00;
    }
    50% {
        background-color: #ffaa00;
    }
    100% {
        background-color: #ffcc00;
    }
}


