/*Tabla*/


.seccion-tabla {
    margin-top: 160px;
    padding: 40px;
    text-align: center;
}

.titulo-tabla {
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px gray;
}


.tabla-destinos {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px gray;
}

td {
    background-color: #749470;
    color: black;
    padding: 10px;
    border: 3px solid black;
}




.titulo-caption {
    font-weight: bold;
    padding: 10px;
}

.contenedor-volver {
    text-align: center;
    margin-top: 30px;
}

.boton-volver {
    padding: 10px 20px;
    background-color: #749470;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}
