
.lista-menu {
    list-style-type: none;
    text-align: center;
    padding: 15px;
}

.elemento-menu {
    display: inline;
    margin: 20px;
}

.enlace-menu {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.enlace-menu:hover {
    color: yellow;
    text-shadow: 2px 2px 5px black;
}


.contenedor-principal {
    width: 100%;
}


.publicidad {
    width: 15%;
    float: left;
    overflow: auto;
    top: 95px;
    background-color: #e6e6e6;
    padding: 10px;
    box-sizing: border-box; 
}


.publicidad2 {
    width: 15%;
    float: right;
    overflow: auto;
    top: 95px;
    background-color: #e6e6e6;
    padding: 10px;
    box-sizing: border-box; 
}

.imagen-publicidad {
    width: 100%;
    transition: transform 1s;
}

.imagen-publicidad:hover {
    transform: scale(1.1);
}


.contenido-central {
    width: 70%;
    padding: 20px;
    float:left;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #003366;
    box-shadow: 5px 5px 10px gray;
}


.articulo {
    margin-bottom: 40px;
}

.texto {
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 20px;
}

.imagen-articulo {
    width: 100%;
    margin: 20px 0;
    transition: transform 1s;
}

.imagen-articulo:hover {
    transform: scale(1.1);
}


.video {
    display: block;
    margin: 40px auto;
    width: 90%;
    height: 400px;

    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.video:hover {
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
    border-color: #3a7a3a;
}


